body {
    height: 150vh;
    background-color: bisque;
    font-family: Arial, sans-serif;
    text-align: center;
    direction: rtl;
    background: #f4f4f4;
    align-items: center;
    justify-content: center;
    display: flex;
}

.part-of-available-symbol {
    height: 72%;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.grid label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    background: #eee;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 15px;
}

.grid label:hover {
    background: #ddd;
}

.part-of-available-symbol button {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    cursor: pointer;
}

.part-of-available-symbol button:hover {
    background-color: #0056b3;
}